

<body class="bg-gradient-primary">

    <div class="container">
      <div class="text-center">
         <div>
             <%= image_tag "",	 class: 'img-circle', width: '20%' %>
         </div>

          <h1 class="text-success"><i><b>Welcome<br> To<br> Howard University </b></i></h1>

            <h3><%= link_to 'Admin', admin_admins_path, class: "text-info" %></h3>

            <h3><%= link_to 'Branch Manager', nil , class: "text-info" %></h3>

            <h3><%= link_to 'Student', nil , class: 'text-info' %></h3><br>

          </div>
        </div>
        <!-- Outer Row -->

    </div>

</body>
